<div>
    <h2 id="page-heading">
        <span jhiTranslate="newoApp8App.registroCompra.home.title">Registro Compras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-registro-compra" [routerLink]="['/registro-compra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="newoApp8App.registroCompra.home.createLabel">
            Create new Registro Compra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="registroCompras?.length === 0">
        <span jhiTranslate="newoApp8App.registroCompra.home.notFound">No registroCompras found</span>
    </div>
    <div class="table-responsive" *ngIf="registroCompras?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="newoApp8App.registroCompra.consumoMarket">Consumo Market</span></th>
            <th><span jhiTranslate="newoApp8App.registroCompra.miembro">Miembro</span></th>
            <th><span jhiTranslate="newoApp8App.registroCompra.facturacion">Facturacion</span></th>
            <th><span jhiTranslate="newoApp8App.registroCompra.reservas">Reservas</span></th>
            <th><span jhiTranslate="newoApp8App.registroCompra.entradaInvitados">Entrada Invitados</span></th>
            <th><span jhiTranslate="newoApp8App.registroCompra.entradaMiembros">Entrada Miembros</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let registroCompra of registroCompras ;trackBy: trackId">
                <td><a [routerLink]="['/registro-compra', registroCompra.id, 'view' ]">{{registroCompra.id}}</a></td>
                <td>{{registroCompra.consumoMarket}}</td>
                <td>
                    <div *ngIf="registroCompra.miembro">
                        <a [routerLink]="['../miembros', registroCompra.miembro?.id, 'view' ]" >{{registroCompra.miembro?.identificacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="registroCompra.facturacion">
                        <a [routerLink]="['../facturacion', registroCompra.facturacion?.id, 'view' ]" >{{registroCompra.facturacion?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="registroCompra.reservas">
                        <a [routerLink]="['../reservas', registroCompra.reservas?.id, 'view' ]" >{{registroCompra.reservas?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="registroCompra.entradaInvitados">
                        <a [routerLink]="['../entrada-invitados', registroCompra.entradaInvitados?.id, 'view' ]" >{{registroCompra.entradaInvitados?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="registroCompra.entradaMiembros">
                        <a [routerLink]="['../entrada-miembros', registroCompra.entradaMiembros?.id, 'view' ]" >{{registroCompra.entradaMiembros?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/registro-compra', registroCompra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/registro-compra', registroCompra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'registro-compra', { outlets: { popup: registroCompra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
